@mixin font-family {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
$base: rgba(#000, 0.8);
$link: #1890ff;
$side-width: 300px;
$side-bg: #fafafa;
$code-bg: #fafafa;
$border: #e2e2e2;
$radius: 4px;
// Body
// --------------------------------------------------
body {
  color: $base;
  @include font-family;
  line-height: 1.8;
}
h1,
h2 {
  font-weight: 700 !important;
}
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}
b,
strong {
  font-weight: 600 !important;
}
img {
  max-width: 100%;
}
.css-jn0lzx,
.css-1352wy5 {
  color: $link !important;
}
.css-1eko99s {
  display: none;
}

// Sidebar
// --------------------------------------------------
.css-wwgiek,
.css-k33w14 {
  width: $side-width;
  min-width: $side-width;
  .css-pccrlp {
    width: inherit;
    min-width: inherit;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.css-wwgiek {
  position: fixed;
  background: $side-bg;
}
.css-k33w14 {
  background: $side-bg;
  .css-pccrlp {
    .css-15exo54 {
      top: 0;
      background: $side-bg;
      &::before {
        display: none;
      }
    }
    .css-12xm67f {
      &::before {
        background: $side-bg;
      }
    }
  }
}
.css-y1r3ra {
  margin-top: 6px;
  &::before {
    display: none;
  }
}
.css-c9p757 {
  margin: 0;
  font-size: 24px;
  outline: 0;
  &::before {
    content: '⚡';
    margin-left: -4px;
    margin-right: 6px;
    font-size: 1.2em;
    vertical-align: middle;
  }
}
.css-1pxi6pq {
  margin: 0 24px 24px;
  padding: 6px 10px;
  background: #fff;
  border: 0;
  border-radius: $radius;
  box-shadow: 0 1px 4px rgba(#000, 0.15);
  .css-1at2ihp {
    width: 16px;
  }
  .css-6r9w8j {
    padding: 0 0 0 8px;
    font-size: 15px;
  }
}
.css-14jzf4k {
  margin-bottom: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}
.css-1evit71,
.css-1ccg7te {
  &::after {
    display: none;
  }
}
.css-82rrzo {
  padding: 10px 24px;
  color: $base;
  font-size: 15px;
  font-weight: 500 !important;
  letter-spacing: 0.3px;
  &:hover,
  &.active {
    color: $link;
  }
}
.css-1qc5yjq {
  display: none;
}
.css-1l1jc95 {
  padding-bottom: 8px;
  color: $base !important;
  opacity: 0.5 !important;
  &.active::before {
    display: none;
  }
}
.css-b4nn6f {
  display: none;
}
// Main
// --------------------------------------------------
.css-pw2o4y {
  margin-left: 300px;
  font-size: 16px;
  background: transparent;
}
.css-p4m8gg {
  display: none;
}
.css-cpkfv3 {
  margin: 32px 0;
  @include font-family;
  font-size: 38px;
  line-height: 1.5;
  transform: translateX(-2px);
  &::before {
    display: none;
  }
}
.css-18hsff8,
.css-p16bed {
  margin: 32px 0 12px;
  padding-bottom: 0;
  @include font-family;
  font-size: 24px;
  border-bottom: 0;
}
.css-ky3id2 {
  margin: 32px 0 16px;
  font-size: 20px;
}
.css-1ab6bas {
  margin: 16px 0 12px;
  font-size: 16px;
}
.css-1fxdu0u,
.css-tb8t2g {
  margin: 8px 0 24px;
}
.css-1fxdu0u {
  border-color: $border;
  border-radius: $radius;
}
.css-2ngb9d li,
.css-1v6pp3c {
  color: $base;
}
.css-2ngb9d {
  list-style: disc;
  padding-left: 20px;
  li {
    &::before {
      display: none;
    }
    + li {
      margin-top: 8px;
    }
  }
}
.css-1v6pp3c {
  em {
    color: rgba(#000, 0.4);
    font-style: normal;
  }
}
.css-1er7839 {
  padding: 2px 6px 3px;
  color: $base;
  @include font-family;
  font-size: 0.88em;
  background: $code-bg;
  border-color: $border;
  border-radius: 2px;
  white-space: nowrap;
}
.css-kqau70 {
  width: auto;
  border: 1px solid $border;
  border-radius: $radius;
}
.css-1ldarm7 {
  background: transparent;
  border: 0;
}
.css-1yrrg0j {
  padding: 24px;
}
.css-dkk4re {
  padding: 0 4px 2px;
  background: transparent;
  border: 0;
}
.css-13v12oq {
  border-left: 0;
}
.css-1e5t11t {
  border-left: 0;
  &[title='Maximize'] {
    display: none;
  }
}
.css-k592kb {
  display: none;
}
.css-1pbel1z {
  width: 100%;
  background: $code-bg;
  border: 0;
  border-top: 1px solid $border;
  .css-p87o66 .cm-s-docz-light {
    background: transparent !important;
    .CodeMirror-lines {
      padding: 16px 0;
    }
  }
}
.css-p87o66 .cm-s-docz-light {
  background: transparent !important;
  .CodeMirror-lines,
  .CodeMirror-gutters,
  .CodeMirror-linenumber {
    background: transparent;
  }
}
.css-lvl8gf {
  padding: 0;
  border-bottom: 1px solid $border;
  .css-15c1kw4 {
    @include font-family;
    font-size: 15px;
    box-shadow: none;
    thead {
      background: transparent;
      th {
        padding: 16px 0;
        color: rgba(#000, 0.6);
        @include font-family;
        font-weight: 500;
        letter-spacing: 0.3px;
        line-height: 1.5;
        + th {
          padding-left: 24px;
        }
      }
    }
    tbody {
      tr {
        border-top-color: $border;
      }
      td {
        padding: 12px 0;
        color: $base;
        font-weight: 400;
        line-height: 1.5;
        .css-1er7839 {
          padding: 1px 4px 2px;
        }
        + td {
          padding-left: 24px;
        }
      }
    }
  }
}
