// Input
.input:global(.input-with-count) {
  :global {
    .count {
      display: inline-block;
      height: 20px;
      margin-right: -4px;
      padding-left: 8px;
      color: #ddd;
      font-size: 12px;
      line-height: 20px;
      background: #fff;
      transform: scale(.95);
      &.red {
        color: #f5222d;
      }
    }
    input {
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 100px #fff inset;
      }
      &[disabled] + .count {
        display: none;
      }
    }
    textarea + .count {
      position: relative;
      right: 1px;
      bottom: -3px;
      padding-right: 8px;
      transform: translateX(-100%);
    }
  }
}
